PORT=8000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require"
JWT_ACCESS_SECRET="your-jwt-access-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
FRONTEND_URL="http://localhost:5173"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
